[submodule "src/gpu_sls/external/primal_dual_ilqr"]
	path = src/gpu_sls/external/primal_dual_ilqr
	url = https://github.com/iit-DLSLab/primal_dual_ilqr.git
[submodule "src/gpu_sls/external/mpx"]
	path = src/gpu_sls/external/mpx
	url = https://github.com/iit-DLSLab/mpx.git
